#screen {
    width: 300px;
    height: 200px;
    text-align: center;
    user-select: none; 
    /*user-select -> 텍스트 드래그(선택)
      none이면 드래그 불가능*/
}

#screen.waiting {
    background-color: aqua;
}
#screen.ready {
    background-color: red;
    color: white;
}
#screen.now {
    background-color: greenyellow;
}